h1{
    color:cornflowerblue;
    font-family:Jokerman;
}

backgroung{
    color:darkslategray;
}

h1{
    text-align:center;
}

.label1
{
    color:cornflowerblue;
    text-align:center;
}